// Define variables for your color scheme

$red: #EA526F;
$blue: #21C4CF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #50FFB1;
$gray: #959595;
$light-gray: #F4F4F4;
$dark-blue: #001521;
$mid-blue: #001D2E;

