.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  margin: 10px;
}

.dashboard-avatar {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 15px;
}
.user-info-grid {
  grid-column: 3/span 1;
  grid-row: 1/span 2;
  background-color: #001D2E;
  border-radius: 5px;
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
  }
  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  span {
    margin-left: 10px;
  }
}
.user-sold-grid {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
}
.user-bought-grid {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
}

.message-body#stake{
  .hover-box {
    margin:0;
    visibility: hidden;
    background-color: #001521;
    opacity: 0.85;
    color: #fff;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    position: absolute;
    top:-55px;
    right: 238px;
    width: 85px;
    font-size: 14px;
    h6 {
      margin-bottom: 3px;
      margin-top: 0;
    };
    p {
      margin:0;
      padding:0;
      padding-left: 3px;
    }
    .title {
      font-style: italic;
    }
    .won {
      color: $green;
    };
    .lost {
      color: $red;
    };
  }
  &:hover .hover-box {
    visibility:visible;
    z-index:1;
  };
}
