.odds {
  display: none;
  &.active {
    display: block;
  }
}

.match_page {
  display: flex;
  justify-content: space-between;
}

.comment_board {
  background-color: white;
  flex: 0 0 400px;
  height: calc(100vh - 70px);
  position: sticky !important;
  top:  0 !important;
  border-radius: 4px;
  margin: 20px;
  h2 {
    margin-left: 20px;
    color: $dark-blue;
    font-weight: bold;
  }
  position: relative;
}

.match-info {
  margin-left: 20px;
  flex-grow: 1;
}

.comment_form {
  margin: 20px 20px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  left: 10px;
  // width: auto;
}

.comments_list {

  overflow: scroll;
  height: 400px;
}
