<div class="dashboard-grid">
  <div class="user-info">
      <div class="container">
          <h2>User Info</h2>
          <%= image_tag @user.facebook_picture_url ? @user.facebook_picture_url : "https://api.adorable.io/avatars/285/#{current_user.email}.png", class: "dashboard-avatar" %>
      </div>
  </div>
  <div class="user-sold">
      <div class="container">
            <h2>Sold</h2>
      </div>
  </div>
  <div class="user-bought">
      <div class="container">
            <h2>Bought</h2>
      </div>
  </div>
</div>
