<div class="dashboard-grid">
  <div class="user-info-grid">
    <%= render 'users/user_info' %>
  </div>
  <div class="user-sold-grid">
      <h2>Bought</h2>
      <%  @user_bookings.each do |booking|%>
        <%= render 'shared/dashboard_messages', booking: booking, bet_outcome: booking.won? %>
      <% end %>
  </div>
  <div class="user-bought-grid">
      <h2>Sold</h2>
      <%  @created_odds.each do |odd|%>
        <%= render 'users/owned_odds', odd: odd, bet_outcome: bet.won? %>
      <% end %>
  </div>
</div>
