
  <div class="match-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))%>">
    <div class="icon-container">
      <img src="" alt="">
      <img src="" alt="">
      <p>home_team</p>
      <h3>VS</h3>
      <p>away_team</p>
    </div>
    <h3>21/08/2017 21:00</h3>
    <div class="stadium-container">
      <img src="" alt="">
      <p>stadium_name</p>
    </div>
  </div>

<h4>Popularity: <i class="fa fa-star"></i></h4>
