<div class="message">
  <div class="message-body">
    <%= p booking %>
    <%# match = Match.find(odds.match_id) %>
    <p><%# match %></p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <img class="avatar" src=<%# CREATOR OF THE ODDS %>>
</div>
