<div class="match-tabs">
  <a class="tab active" data-target="#all">
    <h3>All</h3>
  </a>
  <a class="tab" data-target="#home">
    <h3>Win</h3>
  </a>
  <a class="tab" data-target="#draw">
    <h3>Lost</h3>
  </a>
  <a class="tab" data-target="#away">
    <h3>Pending</h3>
  </a>
</div>
