<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/tommylees112/match-market"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonlondon/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonlondon/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonlondon"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/school/5046700/"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
