<div class="tabs">
  <a class="tab active" data-target="#all">
    <h3>All</h3>
  </a>
  <a class="tab" data-target="#home">
    <h3>Home</h3>
  </a>
  <a class="tab" data-target="#draw">
    <h3>Draw</h3>
  </a>
  <a class="tab" data-target="#away">
    <h3>Away</h3>
  </a>
</div>
