<div class="tabs">
  <a class="tab active" href="#">
    <h3>All</h3>
  </a>
  <a class="tab" href="#">
    <h3>Home</h3>
  </a>
  <a class="tab" href="#">
    <h3>Draw</h3>
  </a>
  <a class="tab" href="#">
    <h3>Away</h3>
  </a>
</div>
