<div class="tabs">
  <a class="fixture_tab active" data-target="#premiership">
    <h3>Premier League</h3>

  </a>
  <a class="fixture_tab" data-target="#bundesliga">
    <h3>Bundesliga</h3>

  </a>
  <a class="fixture_tab" data-target="#laliga">
    <h3>La Liga</h3>

  </a>
  <a class="fixture_tab" data-target="#serieA">
    <h3>Serie A</h3>

  </a>
  <a class="fixture_tab" data-target="#ligue1">
    <h3>Ligue 1</h3>
  </a>
</div>
