<div class="fixtures_pager">
  <div class="week_button btn btn-primary previous" id="previous">
    <i class="fa fa-arrow-left"></i> Previous
  </div>
  <div class="week_details text-center">
    <div>
      <%= league %>
    </div>
    <div>
    <h3>Game Week: <%= game_week %></h3>
    </div>
  </div>
  <div class="week_button btn btn-primary next" id="next">
    Next <i class="fa fa-arrow-right"></i>
  </div>
</div>
