<div class="fixtures_pager">
  <div class="week_button btn btn-primary" id="previous">
    Previous
  </div>
  <div class="week_details">
    details
  </div>
  <div class="week_button btn btn-primary" id="next">
    Next
  </div>
</div>
