<div class="container">
  <div class="about-content">
    <h1>This page was built with <i class="fa fa-heart" style="color:#EA526F"></i> by</h1>

    <ul class="list-inline">

      <li>
        <%= image_tag 'adrian.jpeg', class:"about-avatar" %>
        <a href="https://github.com/hachall"><i class ="fa fa-github">lamperoyge</i></a>

      </li>
      <li>
        <%= image_tag 'hamish.jpeg', class:"about-avatar" %>
        <a href="https://github.com/hachall"><i class ="fa fa-github">hachall</i></a>
      </li>
      <li>
        <% link_to "https://kitt.lewagon.com/alumni/hachall"%>
        <%= image_tag 'tommy.jpeg', class:"about-avatar" %>
        <a href="https://github.com/hachall"><i class ="fa fa-github">tommylees112</i></a>

      </li>
    </ul>
  </div>
  <div class="map-container">


   <div id="map"></div>

    <!-- Include Google Maps JS library. You should use your *own* key -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjlQE77qyopzu54KCmV0iSBFW7NGLJ-sA"></script>

        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 18,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(51.521496, -0.076944), // Ministry of sounds

                    // How you would like to style the map.
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#000000"},{"lightness":13}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#146474"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}]
                };

                // Get the HTML DOM element that will contain your map
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(51.521496, -0.076944),
                    map: map,
                    title: 'Snazzy!'
                });
            }
        </script>
  </div>

</div>






