<div class="container">
   <div class="cover-content">
    <h1>Never miss a match</h1>
    <p>earn while you enjoy</p>
    <div class="index-card-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/card' %>
        </div>
      </div>
    </div>
  </div>
</div>

