<div class="container">
    <%= render "shared/match_show_head" %>
    <%= render "shared/match_tab" %>

<!--     <div class="container">
      <div class="row">
        <%# @match.odds.each do |odd| %>
        <div class="col-xs-6 col-sm-4">
      </div>
    </div> -->
</div>
