<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
  <div class="card-category">Personal</div>
  <div class="card-description">
    <h2><%= odd.odds %></h2>
    <p><%= odd.outcome %></p>
  </div>
  <img class="card-user" src="<%= "https://api.adorable.io/avatars/285/#{odd.user.email}.png" %>">
  <a class="card-link" href="#" ></a>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#makeBet">Make Bet</button>
</div>
<%= render 'shared/odd_modal', odd_selected: odd %>
