.comment {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  height: 80px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: #F4F4F4;
}
.creator-avatar {
  height: 50px;
  border-radius: 50%;
}
.comment:last-child {
  border-bottom: none;
}
.comment-body {
  padding-left: 0px;
  flex-grow: 1;
  color: $dark-blue;
  font-size: 13px;
}
.comment-name {
  padding-left: 10px;
  width: 90px;
}
.comment-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.comment-name p {
  font-size: 13px;
  font-weight: lighter;
  color: $dark-blue;
  opacity: 0.6;
  margin-top: 5px;
  margin-bottom: 0px;
}

.comment-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.comment-body p {
  margin: 6px 0;
}
