.log-in {
  text-align: center;
  color: $dark-blue;
  font-weight: lighter;
}


.form-inputs {
  text-align: center;
  color: $dark-blue;
  font-weight: lighter;
}

.logbutton:hover {
  background-color: $green;

}

.form {
  align-items:center;
}


.help-block {
  color:$dark-blue;
}
