.modal-dialog {
  vertical-align: middle;
}


#makeOdd {
  text-align: center;

}

#makeBet {
  h4 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 10px;
  }
  .modal-header {
    padding: 10px;
  }

}
#booking_stake {
  width: 150px;
}


.modla-body {
  input[type=button] {
    background-color: rgba(80, 255, 177, 0.8);
  }

}
