#makeOdd {
  text-align: center;
  h4 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 10px;
  }
  .modal-header {
    padding: 10px;
  }
}


#makeBet {
  h4 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 10px;
  }
  .modal-header {
    padding: 10px;
  }
}
