.new_form {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  #search{
  background-color: rgba(255,255,255, 0.4) !important;
  text-align: center;
  border: 1px solid rgba(80, 255, 177, 1);
  outline: 0;
  height: 39.79px;
  width: 450px;
  border-radius: 15px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-right: 1px solid rgba(0,0,0,0);
  }


  .btn {
    text-align:center;
    color: white;
    border-radius: 30px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-color: transparent;
    background-color:rgba(80, 255, 177, 0.6);
    color: white;
    font-family: 'Quicksand';
    font-weight: lighter;
    border-color: $green;
    border-left: 1px solid rgba(0,0,0,0);

    &:hover {
      border-color: $green;
      cursor: pointer;
      background-color:rgba(80, 255, 177, 1);
      color: $dark-blue;
    }
  }
}



// .search_form {

//   // position: absolute;
//   // left: 30%;
//     // bottom: 20%;
//   width: 100%;
// }



